.container {
  display: flex;
  justify-content: center;
  column-gap: 128px;
  row-gap: 87px;
  flex-wrap: wrap;
  width: 84%;
  margin: auto;
  position: relative;
}

main > h2 {
  text-align: center;
  margin-bottom: 50px;
}